/*===== GOOGLE FONTS =====*/
                
                @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap');
                @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


                /*===== VARIABLES CSS =====*/
                
                 :root {
                    --header-height: 2.5rem;
                    /*========== Colors ==========*/
                    --first-color: #10ca9b;
                    --first-color-alt: #048654;
                    --title-color: #393939;
                    --text-color: #707070;
                    --text-color-light: #A6A6A6;
                    --body-color: #FBFEFD;
                    --container-color: #FFFFFF;
                    /*========== Font and typography ==========*/
                    --biggest-font-size: 2.25rem;
                    --h1-font-size: 1.5rem;
                    --h3-font-size: 1rem;
                    --normal-font-size: .938rem;
                    --small-font-size: .813rem;
                    --smaller-font-size: .75rem;
                    /*========== Font weight ==========*/
                    --font-medium: 500;
                    --font-semi-bold: 600;
                    /*========== Margenes ==========*/
                    --mb-1: .5rem;
                    --mb-2: 1rem;
                    --mb-3: 1.5rem;
                    --mb-4: 2rem;
                    --mb-5: 2.5rem;
                    --mb-6: 3rem;
                    /*========== z index ==========*/
                    --z-tooltip: 10;
                    --z-fixed: 100;
                }
                /*========== BASE ==========*/
                
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                
                body {
                    font-family: var(--body-font);
                    font-size: var(--normal-font-size);
                    color: var(--text-color);
                    background-color: #f1f1f1;
                }
                
                h1,
                h2,
                h3,
                p,
                ul {
                    margin: 0;
                    direction: rtl;
                    list-style-type: none;
                }
                
                a {
                    text-decoration: none;
                }
                
                img {
                    max-width: 100%;
                    height: auto;
                }
                /*========== CLASS CSS ==========*/
                
                .section {
                    padding: 4rem 0.50rem;
                    margin-bottom: 4rem;
                }
                
                .section-title,
                .section-subtitle {
                    text-align: center;
                    font-weight: 600px;
                }
                
                .section-title {
                    color: #10ca9b;
                    font-family: 'Great Vibes', cursive;
                    font-size: 30px;
                    letter-spacing: -0.1px;
                }
                
                .text-black {
                    font-family: Tajawal;
                    font-size: 37px;
                    color: #01140f;
                    text-align: center;
                }
                
                .text-sblack {
                    font-family: Tajawal;
                    font-size: 14px;
                    color: #01140f;
                    text-align: center;
                    margin-bottom: 5%;
                }
                
                .section-subtitle {
                    display: block;
                    color: var(--first-color);
                    font-weight: var(--font-medium);
                    margin-bottom: var(--mb-1);
                    font-family: 'Tajawal', sans-serif;
                }
                /*========== LAYOUT ==========*/
                
                .bd-container {
                    max-width: 1050px;
                    margin: auto;
                }
                
                .l-header {
                    width: 100%;
                    position: fixed;
                    z-index: var(--z-fixed);
                    right: 0;
                    top: 0;
                    height: 5rem;
                    background-color: #10ca8c3b;
                }
                
                .nav {
                    display: flex;
                    justify-content: space-between;
                    color: #393939;
                    align-items: center;
                    font-size: 20px;
                    height: 4.5rem;
                    margin-top: 5px;
                    float: right;
                }
                
                .nav__list {
                    list-style-type: none;
                    direction: rtl;
                }
                
                .nav__list .nav__item {
                    font-family: 'Tajawal', sans-serif;
                    display: inline-block;
                    padding: 15px 10px 0;
                }
                
                .nav__link {
                    color: #fff;
                    font-weight: 900;
                    margin-left: 10px;
                }
                
                .nav__link:hover {
                    color: rgb(245, 245, 48);
                }
                
                .nav__logo {
                    width: 220px;
                    height: 150px;
                    margin-bottom: 10px;
                }
                
                .phonenum {
                    font-size: 20px;
                    direction: ltr;
                    color: #fff;
                    margin-left: 5px;
                }
                
                .phonenum1 {
                    position: absolute;
                    left: 25px;
                    top: 20px;
                    color: #fff;
                }
                
                .nav__toggle {
                    display: none;
                }
                
                .nav__logo {
                    width: 220px;
                    height: 150px;
                }
                
                @media all and (max-width: 768px) {
                    .nav__toggle {
                        display: block;
                        position: absolute;
                        left: 15px;
                        top: 30px;
                        font-size: 2rem;
                        color: #fff;
                    }
                    .nav {
                        flex-direction: column;
                        align-items: stretch;
                        height: 10rem;
                        width: 50%;
                        margin: 0;
                    }
                    .nav__list {
                        list-style-type: none;
                        padding: 2rem;
                        padding-top: 6rem;
                        text-align: center;
                        display: none;
                        background-color: #021812c7;
                        width: 100%;
                        transition: .4s;
                        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
                        border-radius: 0 0 1rem 1rem;
                        height: 60vh;
                        align-items: center;
                    }
                    .nav__link {
                        transition: .3s;
                        font-size: 30px;
                    }
                    .nav__list .nav__item {
                        display: block;
                    }
                    .nav__logo {
                        position: absolute;
                        top: 1px;
                        width: 130px;
                        height: 86px;
                        right: 1px;
                    }
                    .active {
                        display: block;
                    }
                    .show-menu {
                        display: none;
                    }
                    .bd-container {
                        width: 100%;
                    }
                    .phonenum {
                        display: none;
                    }
                    .phonenum1 {
                        display: none;
                    }
                    .button__home {
                        padding: 4px 18px;
                        font-size: 14px;
                        margin-top: 4%;
                    }
                }
                /* Change background header */
                
                .scroll-header {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                    background-color: #021812c7;
                }
                /* Scroll top */
                
                .scrolltop {
                    position: fixed;
                    right: 1rem;
                    bottom: -20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .3rem;
                    background: rgba(6, 156, 84, .5);
                    border-radius: .4rem;
                    z-index: var(--z-tooltip);
                    transition: .4s;
                    visibility: hidden;
                }
                
                .scrolltop:hover {
                    background-color: #10ca8c;
                }
                
                .scrolltop__icon {
                    font-size: 1.8rem;
                    color: var(--body-color);
                }
                /* Show scrolltop */
                
                .show-scroll {
                    visibility: visible;
                    bottom: 1.5rem;
                }
                /*========== HOME ==========*/
                
                .home__container {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 5%;
                    margin-right: 15%;
                }
                
                .home {
                    height: calc(110vh - var(--header-height));
                    background-image: linear-gradient( #4ebea2e5, #cbe4de63), url("https://up4net.com/uploads4/up4net.com162819912339141.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center bottom;
                    overflow: hidden;
                }
                
                .home__title {
                    font-size: 100px;
                    color: #f1f1f1;
                    margin-bottom: var(--mb-1);
                    text-align: right;
                    font-weight: 800;
                    font-family: 'Amiri', serif;
                }
                
                .title-span {
                    color: #ffe73f;
                }
                
                .home__subtitle span {
                    font-size: 30px;
                    color: rgba(53, 52, 52, 0.877);
                    margin-right: 10px;
                    font-weight: 800;
                }
                
                .home__subtitle {
                    font-size: 30px;
                    color: rgba(53, 52, 52, 0.877);
                    margin-bottom: var(--mb-4);
                    text-align: right;
                    font-family: 'Tajawal', sans-serif;
                }
                
                .home__data {
                    float: right;
                }
                
                .social {
                    position: absolute;
                    width: 35px;
                    top: 49%;
                    left: 0;
                    background-color: #ffe73f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateY(-50%);
                    z-index: 2;
                    padding: 25px 2px;
                    box-sizing: border-box;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    box-shadow: -3px 10px 10px rgba(71, 156, 54, 0.571)
                }
                /*========== BUTTONS ==========*/
                
                .button__home {
                    color: #F1F3F2;
                    background-color: #10ca9b;
                    padding: 8px 18px;
                    cursor: pointer;
                    transition: 256ms all;
                    border: 1px solid #10ca9b;
                    border-radius: 3px;
                    font-family: 'Tajawal', sans-serif;
                    font-weight: 900;
                    float: right;
                    margin-right: 5%;
                }
                
                .btn {
                    background-color: #fff;
                    border: 1px solid #10ca9b;
                    color: #10ca9b;
                    margin-right: 2%;
                }
                
                .button__home:hover {
                    background-color: #ffe73f;
                    color: #048654;
                }
                /*========== ABOUT ==========*/
                
                .about__container {
                    position: relative;
                    margin: auto;
                    box-shadow: 0px 14px 80px rgba(34, 58, 56, 0.2);
                    height: 350px;
                    padding: 30px;
                    transition: all .3s;
                    background-color: #10ca9b63;
                    margin-top: 25px;
                    width: 900px;
                    border-radius: 3px;
                }
                
                .about__items {
                    display: flex;
                }
                
                .about__data {
                    float: right;
                }
                
                .title2-span {
                    color: #ffe73f;
                    font-size: 50px;
                }
                
                .img-about {
                    width: 350px;
                    flex-shrink: 0;
                    height: 450px;
                    box-shadow: 4px 13px 25px 1px #0f0f0f91;
                    transform: translateY(-80px);
                    border-radius: 3px;
                }
                
                .img1 {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    transition: all 3s;
                    overflow: hidden;
                    border-radius: 3px;
                }
                
                .about .section-subtitle {
                    text-align: right;
                    font-family: Tajawal;
                    font-family: Amiri, sans-serif;
                    font-size: 50px;
                    color: rgb(7, 7, 7);
                }
                
                .about .section-title {
                    text-align: right;
                    font-family: Tajawal;
                    color: rgb(7, 7, 7);
                    font-size: 16px;
                }
                
                .about__description {
                    margin-bottom: var(--mb-3);
                    font-family: Tajawal;
                    text-align: right;
                    color: rgb(88, 87, 87);
                    font-size: 16px;
                    line-height: 25px;
                    font-weight: 800;
                }
                /*========== MENU ==========*/
                
                .popular .box-container {
                    margin: 25px auto 0 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                
                .box-text {
                    padding: 8px 10px;
                }
                
                .box-container .box {
                    background: #fff;
                    box-shadow: 0 2px 2px rgba(3, 74, 40, .15);
                    display: flex;
                    flex-direction: column;
                    width: 238px;
                    margin: .30rem;
                    padding-bottom: .20rem;
                    text-align: right;
                    border-radius: 3px;
                    align-content: center;
                    justify-items: center;
                    justify-content: center;
                }
                
                .popular .box-container .box img {
                    height: 10rem;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    border-radius: 2px;
                }
                
                .popular .box-container .box h2 {
                    color: #000000;
                    font-size: 16px;
                    font-family: Tajawal;
                    margin-top: 1px;
                }
                
                .popular .box-container .box .cal {
                    color: #fff;
                    font-size: 14px;
                    font-family: Tajawal;
                    color: #1d2521;
                    padding-top: 0;
                }
                
                .popular .box-container .box .price {
                    font-size: 16px;
                    font-family: Tajawal;
                    font-weight: 900;
                    color: #000000;
                    margin-top: 20px;
                }
                
                .popular .box-container .box .order a {
                    color: #10ca9b;
                    font-size: 14px;
                    padding: 4px 12px;
                    float: left;
                    border: 1px dashed #10ca9b;
                }
                
                .popular .box-container .box .order a:hover {
                    background: #10ca9b;
                    color: #FFFFFF;
                }
                /*==========services==========*/
                
                .services {
                    background: #e1f0ea;
                }
                
                .services__container {
                    row-gap: 1.5rem;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    padding: 50px 50px 30px 50px;
                    margin-bottom: 25px;
                    display: grid;
                }
                
                .services__content {
                    text-align: center;
                    font-family: Tajawal;
                    color: #01140f;
                    font-weight: 300;
                }
                
                .services__img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: var(--mb-2);
                }
                
                .services__title {
                    font-size: var(--h3-font-size);
                    margin-bottom: var(--mb-1);
                }
                /*==========gallaries ==========*/
                
                #gallery {
                    margin: 25px auto 0 0;
                    line-height: 0;
                    -webkit-column-count: 4;
                    /* split it into 5 columns */
                    -webkit-column-gap: 4px;
                    /* give it a 5px gap between columns */
                    -moz-column-count: 4;
                    -moz-column-gap: 5px;
                    column-count: 4;
                    column-gap: 5px;
                }
                
                #gallery img {
                    width: 100% !important;
                    height: auto !important;
                    margin-bottom: 5px;
                    /* to match column gap */
                }
                /*========== CONTACT ==========*/
                
                .container {
                    width: 100%;
                    background: #fff;
                    border-radius: 3px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    display: flex;
                    flex-wrap: wrap;
                    margin: 25px auto 0 0;
                    padding: 20px 20px 0px 0;
                }
                
                .container .left-side {
                    width: 100%;
                    height: auto;
                    flex: 50%;
                    margin-top: 20px;
                }
                
                .container .left-side iframe {
                    width: 100%;
                    height: 50vh;
                    margin-top: 20px;
                }
                
                .left-side .details {
                    margin: 14px;
                    text-align: right;
                }
                
                .phone1 {
                    text-align: right;
                    float: right;
                }
                
                .left-side .details .topic {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Tajawal";
                    font-weight: 700;
                }
                
                .left-side .details .text-one,
                .left-side .details {
                    font-size: 14px;
                    color: #afafb6;
                    font-family: "Tajawal";
                    font-weight: 700;
                }
                
                .container .right-side {
                    width: 100%;
                    height: auto;
                    flex: 50%;
                }
                
                .right-side .topic-text {
                    font-size: 50px;
                    font-weight: 600;
                    color: #10ca9b;
                    font-family: Amiri;
                    text-align: right;
                }
                
                .right-side p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #01140f;
                    font-family: 'Tajawal';
                    text-align: right;
                }
                
                .right-side .input-box {
                    height: 50px;
                    width: 100%;
                    margin: 12px 0;
                }
                
                .right-side .input-box input,
                .right-side .input-box textarea {
                    height: 100%;
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    background: #e5f0ed;
                    border-radius: 6px;
                    padding: 0 15px;
                    resize: none;
                    text-align: right;
                    font-family: 'Tajawal';
                }
                
                .right-side .message-box {
                    min-height: 110px;
                }
                
                .right-side .input-box textarea {
                    padding-top: 6px;
                }
                
                .right-side .button {
                    display: inline-block;
                    margin-top: 12px;
                }
                
                .right-side .button-contact input[type="button"] {
                    color: #fff;
                    font-size: 18px;
                    outline: none;
                    border: none;
                    padding: 8px 16px;
                    border-radius: 6px;
                    background: #10ca9b;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    float: right;
                    margin: 2%;
                }
                
                .button-contact input[type="button"]:hover {
                    background: #ffe73f;
                    color: #01140f;
                }
                /*========== FOOTER ==========*/
                
                .text-one {
                    margin-right: 5px;
                    font-size: 16px;
                    text-align: left;
                }
                
                .contact-footer {
                    margin: 5px;
                }
                
                .footer {
                    padding: 15px;
                    background-color: #e5f0ed;
                }
                
                .footer__container {
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Tajawal', serif;
                    flex-direction: row-reverse;
                    margin-bottom: 10px;
                }
                
                .footer__logo {
                    width: 130px;
                    height: 90px;
                    margin: 0;
                    background-color: rgba(0, 0, 0, 0.514);
                }
                
                .footer__social {
                    font-size: 1.6rem;
                    color: #000000;
                    margin-left: 0px;
                }
                
                .footer-s {
                    font-size: 2.6rem;
                    color: #01130ebd;
                }
                
                .footer-s:hover {
                    color: #ffe73f;
                }
                
                .footer__title {
                    font-size: 20px;
                    color: var(--title-color);
                    text-align: right;
                    font-family: 'Tajawal', serif;
                }
                
                .footer__link {
                    display: inline-block;
                    color: var(--text-color);
                    margin-bottom: var(--mb-1);
                    text-align: right;
                    font-weight: bold;
                }
                
                .footer__link:hover {
                    color: #ffe73f;
                }
                
                .footer__list {
                    list-style-type: disc;
                    color: #10ca8c;
                }
                
                .footer__copy {
                    text-align: center;
                    font-size: var(--small-font-size);
                    color: var(--text-color-light);
                    margin-top: 3px;
                }
                /* For tall screens on mobiles y desktop*/
                
                @media all and (max-width: 999px) {
                    .phonenum {
                        display: none;
                    }
                    .phonenum1 {
                        top: 28px;
                        font-size: 14px;
                    }
                    .phonenum {
                        font-size: 14px;
                    }
                    .about__container {
                        width: 100%;
                        background-color: #f1f1f1;
                    }
                    .img-about {
                        width: 300px;
                        height: 450px;
                    }
                }
                
                @media screen and (max-width: 860px) {
                    .footer-s {
                        font-size: 1.6rem;
                    }
                    .footer__title {
                        font-size: 14px;
                        margin-left: 5px;
                    }
                    .footer__link {
                        font-size: 13px;
                    }
                    body {
                        margin: 0;
                    }
                    .bd-container {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    #gallery {
                        -moz-column-count: 2;
                        -webkit-column-count: 2;
                        column-count: 2;
                    }
                    .container .right-side {
                        height: auto;
                        flex: 50%;
                        width: 100%;
                    }
                    .home__container {
                        flex-direction: column;
                    }
                
                    .social {
                        display: none;
                    }
                    .home__title {
                        font-size: 80px;
                    }
                    .home__subtitle span {
                        font-size: 30px;
                    }
                    .home__subtitle {
                        font-size: 30px;
                    }
                    .home__container {
                        display: flex;
                        margin-top: 10%;
                        margin-right: 10%;
                    }
                    .home {
                        background-position: bottom;
                        height: 60vh;
                    }
                    .home__data {
                        margin-right: 10%;
                    }
                    .img-about {
                        display: none;
                    }
                    .popular .box-container .box {
                        font-size: 12px;
                        font-size: 14px;
                        width: 40%;
                        margin: 2%;
                    }
                    .popular .box-container .box img {
                        height: 18rem;
                        width: 100%;
                    }
                    .popular .box-container {
                        width: 100%;
                    }
                    .section {
                        padding-top: 2rem;
                    }
                    .container .left-side {
                        width: 100%;
                        margin-top: 20px;
                        flex-wrap: wrap;
                        margin-right: 0;
                    }
                    .container .left-side::before {
                        display: none;
                    }
                    .container {
                        width: 100%;
                        padding: 20px 20px 20px 20px;
                        height: 100%;
                        flex-direction: column-reverse;
                        width: 100%;
                        margin: 25px auto 30px 0;
                    }
                    .container .left-side iframe {
                        width: 100%;
                        height: 30vh;
                    }
                }
                
                @media only screen and (max-width: 568px) {
                    .footer-s {
                        font-size: 1.5rem;
                    }
                    .footer__title {
                        font-size: 12px;
                        margin-bottom: 5px;
                        margin-left: 5px;
                    }
                    .footer__logo {
                        display: none;
                    }
                    .footer__container {
                        float: right;
                    }
                    .contact-footer {
                        font-size: 1.3rem;
                        color: #01130ebd;
                        margin-right: 0;
                    }
                    .footer__container {
                        display: flex;
                        justify-content: space-around;
                    }
                    .footer__content1:before {
                        display: none;
                    }
                    .text-one {
                        font-size: 10px;
                        font-weight: bold;
                        margin-right: 2px;
                    }
                    .footer__link {
                        font-size: 10px;
                    }
                    .popular .box-container .box {
                        width: 100%;
                        margin-bottom: 2%;
                    }
                    .popular .box-container .box img {
                        height: 20rem;
                    }
                    .popular .box-container {
                        width: 100%;
                    }
                    .home {
                        height: 60vh;
                    }
                    .social {
                        display: none;
                    }
                    .home__title {
                        font-size: 50px;
                        color: #f1f1f1;
                        margin-bottom: var(--mb-1);
                        text-align: right;
                        font-weight: 800;
                        font-family: 'Amiri', serif;
                    }
                    .home__subtitle span {
                        font-size: 20px;
                    }
                    .home__subtitle {
                        font-size: 20px;
                    }
                    .home__data {
                        margin-right: 1%;
                    }
                    .home {
                        background-position: bottom;
                    }
                   
                    .nav__link {
                        font-size: 20px;
                    }
                }
                
                @media (max-width: 400px) {
                    #gallery {
                        -moz-column-count: 2;
                        -webkit-column-count: 2;
                        column-count: 2;
                    }
                    .right-side .button-contact input[type="button"] {
                        font-size: 13px;
                        border: 1px solid;
                        padding: 4px 8px;
                        border-radius: 3px;
                    }
                        .button__home {
                        padding: 5px 8px;
                        font-size: 10px;
                        font-weight: 700;
                    }
                    .home__subtitle span {
                        font-size: 16px;
                    }
                    .home__subtitle {
                        font-size: 16px;
                    }
                }
